@import "../../styles/colors.scss";

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-top {
  width: 100%;
  background: $primary-black-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 300px;
  background: $primary-black-color;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding: 10px 0 20px; 

}

.show-menu {
  visibility: visible;
  opacity: 1;
}

.header-bar {
  color: #fff;
  font-size: 32px;
  padding: 2px 30px;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.header-banner {
  width: 100%;
  margin: 50px auto 0;
  display: block;
  max-height: 250px;
  margin-bottom: 20px;
}

.header-logo {
  width: 210px;
  margin-left: 25px;

  a {
    font-family: 'Fascinate', cursive;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    span {
      color: $red;
    }
  }
}


.header-links {
  a {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 2em;
    margin: 0.4em 1em;
    text-decoration: none;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $light-grey;

    svg {
      margin-right: 5px;
    }

    &:hover {
      color: #fff;
    }

    &:active {
      color: $red;
    }
  }

  .header-desktop-links {
    text-align: center;
  }

  .active-link {
    color: #fff;
  }

  margin-right: 25px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


@media screen and (max-width: 1140px) {
  .header-desktop-links {
    display: none;
  }

  .header-logo {
    width: 180px;
    margin-left: 20px;
  
    a {
      font-size: 20px;
    }
  }
}
