$primary-black-color: #1d181f;
$secondary-black-color: #2a252c;

$black-for-menu: #2f2f2f;


$light-grey: #acacac;

$light-grey-one: #c1c1c1;
$light-grey-two: #cdcdcd;

$red: #e2263e;

$yellow: #ffd100;