$dark-one: #282828;
$dark-two: #303030;
$dark-three: #3e3e3e;

$grey-one: #8a8a8a;

$light-grey-one: #e6e6e6;
$light-grey-two: #f7f7f7;

$blue-one: #001987;
$blue-two: #004bbc;

$yellow: #ffcf00;

$red: #e2263e;