@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.theme-tag-header {
  background: $yellow;
  color: #000;
  font-size: 22px;
  margin: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.tags-page-list {
  display: flex;

  a {
    color: #000;
    font-size: 18px;
    padding: 10px 5px;
    margin: 2px 0;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover{
      color: $blue-one;
    }
  }

  a:nth-child(even) {
    background: $light-grey-one;
  }

  a:nth-child(odd) {
    background: $light-grey-one;
  }

  svg {
    margin-right: 10px;
    color: $dark-one;
  }
}

.tags-page-list-column {
  flex-direction: column;
}

.tags-page-list-module {
  flex-wrap: wrap;
  justify-content: flex-start;

  a {
    min-width: 285px;
    font-size: 16px;
    margin-right: 5px;
    padding: 10px 10px;
  }

  svg {
    margin-right: 8px;
  }
}

.list-type-switch {
  display: flex;
  justify-content: flex-end;
}

.type-list-icon {
  font-size: 32px;
  padding: 2px;
  color: $grey-one;

  &:hover{
    color: $blue-two;
  }
}

.type-list-icon-active {
  color: $dark-one;
}

.type-list-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.tag-songs-count {
  color: $dark-one;
  padding: 3px;
  margin-left: 25px;
  margin-right: 10px;
  font-weight: 600;
}

@media screen and (max-width: $max-mobile-width) {
  .list-type-switch {
    display: none;
  }
}