.album-form {
  .album-input {
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
  }

  .album-select{
    margin-bottom: 30px;
  }

  label {
    font-weight: 700;
  }

  .upload-avatar-input {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .album-edit-img {
    height: 200px;
    margin-bottom: 20px;
    display: block;
  }

  .save-button {
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .error-label {
    color: red;
    font-weight: 700;
    text-align: center;
  }

  .source-label{
    color: #009688;
    display: block;
    margin-bottom: 10px;
  }
}
