@import "../../styles/colors.scss";

.aside-menu {
  width: 215px;
  min-width: 215px;
  height: auto;
  min-height: 100vh;
  background: $black-for-menu;

  hr {
    width: 171px;
    height: 1px;
    overflow: visible;
    border: none;
    margin: 5px auto;
    opacity: 0.5;
    background-color: $light-grey-two;
  }
}

.aside-menu-content {
  display: flex;
  flex-direction: column;
}

.aside-menu-logo {
  img {
    width: 100%;
  }
  margin: 15px auto;
}

.aside-menu-links {
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-bottom: 50px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 12px;
    margin: 4px 0;
    box-sizing: content-box;
    color: $light-grey-one;
    margin-left: 15px;

    div {
      display: flex;
      align-items: flex-start;
    }

    span {
      line-height: 1.2;
    }

    svg {
      margin-right: 10px;
    }

    .arrow-icon {
      font-size: 24px;
      margin-right: -5px;
    }

    &:hover {
      color: $yellow;
    }

    &:active {
      color: #fff;
    }
  }


  .active-menu-link {
    color: $yellow;
    border: 1px solid $yellow;
    border-radius: 20px;
    margin-left: 0;
    padding-left: 20px;
  }
}

.aside-menu-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;

  img{
    margin-right: 15px;
  }

  button {
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 88px;
    height: 32px;
    border-radius: 5px;
    background-color: $light-grey-two;
    font-size: 18px;
    font-weight: 500;
  }
}

.aside-menu-locale {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mobile-menu-bar {
  color: #fff;
  font-size: 32px;
  padding: 2px 25px;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.yellow-icon {
  color: $yellow;
}

.show-mobile-menu {
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 1150px) {
  .hide-small {
    display: none !important;
  }
}
