@import "../../styles/colors.scss";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  color: #fff;
}

.footer-website-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: $dark-one;
  padding: 70px 15px;

  &>div {
    min-width: 150px;
  }
}

.footer-website-rule {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $dark-two;
  min-height: 200px;
  padding: 50px 20px 150px;

  p {
    width: 100%;
    max-width: 900px;
    font-size: 12px;
    color: $light-grey-one;

  }

  .copyright {
    text-align: center;
  }
}

h3 {
    font-size: 18px;
    margin: 8px 0;
    padding: 0;

  }

.footer-links {
  display: flex;
  flex-direction: column;

  svg {
    margin-right: 5px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
    margin: 0.4em 0.2em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $light-grey-one;

    &:hover {
      color: #fff;
    }

    &:active {
      color: $red;
    }
  }

  .active-link {
    color: #fff;
  }

}

.footer-logo {
  width: 100px;
}

.footer-language{
    display: flex;
    align-items: center;
    span{
      padding-left: 25px;
    }
}


@media screen and (max-width: 600px) {

  .footer-website-menu {
    display: block;
  
    &>div {
      min-width: 100%;
      margin: auto;
      text-align: center;
    }
  }

  .footer-links {
    align-items: center;
  }

  .footer-language{
    justify-content: center;
}
}
