@import "../../styles/colors.scss";

.filter {

  display: flex;
  align-items: center;

  svg {
    font-size: 28px;
    margin-right: 8px;
  }

  .sort-block {
    display: flex;
    align-items: center;

  }

  .sort-select {
    height: 35px;
    width: 210px;
    border-radius: 2px;
  }


  .search-block {
    display: flex;
    align-items: center;
    padding: 0 3px;
    border: 1px solid $light-grey;
    border-radius: 3px;
    margin-right: 20px;

  }

  .search-input {
    height: 35px;
    border-radius: 2px;
    margin-right: 20px;
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }
}


@media screen and (max-width: 600px) {
  .filter {
    display: block;

    .sort-block {
      margin-top: 10px;
    }

    .sort-select {
      width: 100%;
    }

    .search-block {
      width: 100%;
    }
  }
}
