@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.player-song-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  h1{
    margin-top: 0;
    position: sticky;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    background: $grey-one;
    text-align: left;
    top: 0;
  }
 

  .icon-button {
    border: none;
    outline: none;
    background: none;
    padding-left: 0;

  }

  .song-icon {
    color: #fff;
    font-size: 36px;
  }

  .icon-disable {
    color: $grey-one;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .player-song-list {
    display: block;
    width: 100%;
  }
}
