@import "../../styles/colors.scss";

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }

  .play-button-background {
    background: #000;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    left: 10px;
  }

  .song-icon {
    color: $yellow;
    font-size: 42px;
    z-index: 2;
  }

  .icon-disable {
    color: grey;
  }

}
