.song-list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style: none;

    .icon-button {
        border: none;
        outline: none;
        background: none;
        padding-left: 0;
    
      }
    
      .song-icon {
        color: #000;
        font-size: 36px;
      }

      .icon-disable{
        color: grey;
      }
 }