@import "../../styles/colors.scss";

.song-player-wrapper {
  width: 100%;
  color: #fff;
}

.song-player-control {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .group-control-first,
  .group-control-second,
  .group-control-third {
    display: flex;
    align-items: center;
  }

  .icon-button {
    border: none;
    outline: none;
    background: none;
    margin: 0 5px;

  }

  .player-icon {
    color: #fff;
    font-size: 28px;
  }

  .play-icon {
    font-size: 36px;
  }

  .icon-active {
    color: $red;
  }

  .icon-disable {
    color: grey;
  }

  .song-player-img {
    width: 45px;
    border-radius: 3px;
    margin: 2px 8px;
  }
}

.player-song-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
}

@media screen and (max-width: 600px) {

  .song-player-control {
    .group-control-second, .group-control-third {
      display: none;
    }
  }
}
