@import "../../../styles/colors.scss";

.chords-pre {
  text-align: unset;
  padding: 15px;
  line-height: 1.6;

  span {
    display: flex;
    min-height: 16px;
  }

  b.c {
    color: $blue-one;
    cursor: pointer;
  }

  b {
    font-weight: normal;
  }

  .type-dark {
    background-color: $yellow !important;
    padding: 5px !important;
    border-radius: 10px;
  }

  .place-bottom:after {
    border-bottom-color: $yellow !important;
  }

  .place-top:after {
    border-top-color: $yellow !important;
  }
}


.chord-tooltip {
  color: #fff;
  background-color: $yellow;
  font-size: 20px !important;
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}


.transpose-keys {
  margin: 25px 15px 0;
  overflow: auto;
  font: normal 11px sans-serif;
}

.transpose-keys span {
  display: block;
  float: left;
  width: 2.25em;
  text-align: center;
  margin: 0 .3em .3em 0;
  color: #333;
  background: #eee;
  text-decoration: none;
  padding: .4em 0;
  border: solid 1px transparent;
  outline: none;
  cursor: pointer;
}

.transpose-keys span.selected {
  background: $yellow;
  color: #000;
  font-weight: 700;
}

.buttonPlay {
  text-indent: -9999em;
  background: none;
  border-right: none;
  width: 21px;
  height: 30px;
  border-left: solid 20px rgb(37, 37, 37);
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
}

.buttonPlay:hover {
  border-left: solid 20px $blue-one;
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
}

.buttonPlay:focus {
  outline: 0;
}

.footer-chords-svg{
  display: flex;
  flex-wrap: wrap;
}
