@import "../../styles/colors.scss";

.locale-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  color: #fff;
  background: $primary-black-color;
  padding: 5px 10px;
  cursor: pointer;

  select {
    width: 35px;
    text-align: center;
    color: #fff;
    background: $primary-black-color;
    margin: 0;
    padding: 5px 5px 8px;
    font-size: 18px;
    outline: none;
    -webkit-appearance: none;
  }

  option {
    outline: none;
    color: #fff;
    padding: 5px;
    background: $primary-black-color;
  }
}
