@import "../../styles/colors.scss";

.locale-toggle {
  width: 70px;
  border: none;
  cursor: pointer;
}

.locale-select {
  border: none;
  &>div{
    background-color: $light-grey-one;
  }
  
  svg {
    color: $dark-two;
  }

  span {
    background-color: $dark-two;
    max-width: 2px;
  }


  &:focus{
    border: none;
  }
}
