@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

$albumItemWidth: 170px;
$albumItemWidthMobile: 130px;

.song-album-item {
  display: block;
  margin: 5px 10px;
  padding: 10px 0;
  width: $albumItemWidth;
  cursor: pointer;
  text-decoration: none;


  .album-item-name {
    background: $dark-one;
    display: flex;
    align-items: center;
    text-align: center;
    width: $albumItemWidth;

    h4 {
      color: #fff;
      margin: 0;
      padding: 15px 8px;
      text-align: center;
      font-weight: 400;
      display: inline-block;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.3s ease-in;
    }

  }


  .album-item-info {
    width: $albumItemWidth;
    margin-top: 5px;
    padding: 5px 2px;
    display: flex;
    border-top: 5px solid #fff;
    transition: all 0.3s ease-in;

    span {
      color: $grey-one;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }



  img {
    width: $albumItemWidth;
    height: $albumItemWidth;
    border-radius: 2px;
  }

  &:hover {
    .album-item-name {
      h4 {
        color: $yellow;
      }
    }

    .album-item-info {
      border-top: 5px solid $yellow;
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  .song-album-item {
    img {
      width: $albumItemWidthMobile;
      height: $albumItemWidthMobile;
      border-radius: 2px;
    }

    .album-item-info {
      width: $albumItemWidthMobile;
    }


    .album-item-name {
      width: $albumItemWidthMobile;
    }
  }
}
