@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.song-author-item {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding: 10px 0;

  .author-description {
    text-align: center;
    margin-top: 10px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    a {
      color: $dark-one;
    }
  }

  span {
    color: $grey-one;
  }

  .author-img {
    height: 140px;
    border-radius: 50%;
    border: .5px solid rgba(0, 0, 0, .1);
  }
}

@media screen and (max-width: $tablet-max-width) {
  .song-author-item {
    width: 140px;
    margin: 5px 8px;
  }
}
