@import "../../styles/colors.scss";

.song-play-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  border-top: 1px solid $light-grey-one;
  background: none;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
    color: $yellow;
  }

  .song-player-img {
    width: 45px;
    border-radius: 3px;
    margin: 2px 8px;
  }
}

.song-play-list-item-description {
  margin: 10px 2px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  .song-title {
    font-size: 14px;
    font-weight: 400;
  }

  span {
    font-size: 12px;
  }
}

.player-list-song {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player-song-duration {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .song-play-list-item {
    width: 100%;
  }
}
