@import "../../styles/colors.scss";

.song-list-item {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari */
  page-break-inside: avoid;
  /* Theoretically FF 20+ */
  break-inside: avoid-column;
  max-width: 98%;
  margin-bottom: 10px;
}

.song-list-item-description {
  text-decoration: none;
  color: $dark-one;
  margin: 10px 2px;
  max-width: 70%;

  &:visited {
      color: #592db7;
  }
}

.song-list-title {
  font-weight: 500;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-list-item-info {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  font-size: 12px; 
  color: $grey-one;
}

@media screen and (max-width: 600px) {
  .song-list-item {
    width: 100%;
  }
}
