@import "../../styles/colors.scss";

.song-video-item {
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
  align-self: flex-end;

  .video-link {
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: $dark-one;
    font-weight: 600;
    padding: 2px 5px;

    svg{
      font-size: 16px;
      margin-right: 8px;
      color: $red;
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
  }

  .player-wrapper {
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .video-item-picture {
    position: relative;
    height: 158px;
    margin: 2px 5px;
    cursor: pointer;
    background-position: center;
    background-size: cover;


    &:hover {
      .video-play-icon {
        color: $red;
      }
    }

  }

  .video-play-icon {
    position: absolute;
    z-index: 2;
    color: $yellow;
    font-size: 48px;
    transition: all 0.2s ease;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
  }
}
