.song-video-item {
  width: 100%;
  max-width: 250px;
  margin-bottom: 40px;

  .player-wrapper {
    position: relative;
    padding-top: 56.25%
      /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 550px) {
  .song-video-item {
    max-width: 100%;
  }
}
