.song-page-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    h1{
        margin: 0;
    }

  .icon-button {
    border: none;
    outline: none;
    background: none;
    padding-left: 0;

  }

  .song-icon {
    color: #000;
    font-size: 36px;
  }

  .song-player-img{
    width: 45px;
    border-radius: 3px;
    margin: 2px 8px;
  }
}

.song-page-img{
    width: 150px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .song-page-header{
    h1{
      font-size: 24px;
    }

  .song-icon {
    font-size: 36px;
  }
}

pre{
  font-size: 14px;
}

.song-page-img{
  width: 80px;
  margin-right: 20px;
}
}