@import "../../styles/colors.scss";

.login-page {
  display: flex;
  justify-content: center;

  .login-form {
    width: 100%;
    max-width: 500px;

    input,
    button {
      width: 100%;
      margin-top: 20px;
    }

    input {
      padding: 5px 20px;
    }
  }

  .login-error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }

  .user {
    font-weight: 700;
    text-align: center;
  }

  .moderator-statistic-link {
    display: flex;
    align-items: center;
    background: $yellow;
    color: $dark-one;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px 15px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.5s ease;

    &:hover{
      color: #fff;
      background: $dark-three;
    }

    span{
      margin-right: 8px;
    }

    svg{
      font-size: 24px;
    }
  }

}
