@import "../../styles/dimensions.scss";

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Roboto';
}

#app {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
}

#app-wrapper {
  display: flex;
}

#app-right-wrapper {
  width: $aside-content-width;
}

p,
label {
  font-family: 'Roboto';
  line-height: 1.5em;
}

.page-container-wrapper {
  padding: 0 40px;
}

@media screen and (max-width: $max-mobile-width) {
  #app-wrapper {
    display: block;
  }

  .page-container-wrapper {
    padding: 0 20px;
  }

  #app-right-wrapper {
    width: 100%;
  }
}
