@import "../../styles/dimensions.scss";

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Roboto';
}

#app {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
}

#app-wrapper {
  display: flex;
}

#app-right-wrapper {
  width: $aside-content-width;
}

.page-container-wrapper {
  margin: 0 25px;
}

h1{
  margin: 8px 0;
}

p,
label {
  font-family: 'Roboto';
  line-height: 1.5em;
}

.page-container-wrapper {
  padding: 0 40px;
}

.copied-text {
  font-weight: 700;
  transition: all 0.5s ease;
  border-radius: 4px;

  b {
    font-weight: 800 !important;
  }
}

@media screen and (max-width: $max-mobile-width) {
  #app-wrapper {
    display: block;
  }

  .page-container-wrapper {
    margin: 0 10px;
  }

  #app-right-wrapper {
    width: 100%;
  }
}
